body {
	background-color: transparent;
	background-image: url('/static/img/bg.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.backborder{
	padding: 10px;
	background-color:rgba(255,255,255,0.5);
	border-radius:10px;
}

.text-primary{
	color: #5F9F09;
}


.span12{
	width: 860px;
}
.col-md-1{
	padding: 10px;
	float: left;
	width: 300px;
}

.col-md-2{
	padding: 10px;
	float: left;
	width: 500px;
}

.col-md-3{
	padding: 10px;
	float: none;
	width: 500px;
}

a:link {color:#009900;}
a:visited {color:#009900;}
a:hover {color:#009900;}
a:active {color:#009900;}