<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="col-md-1 backborder" style="height: 180px;">
    <div class="pull-right">
        <img src="{{user.avatar(128)}}" class="img-polaroid">
    </div>
    <h3>{{user.nickname}}</h3>
    {% if user.id == g.user.id %}
        <a href="{{url_for('edit')}}">{{ _('Edit your profile') }}</a>
    {% elif not g.user.is_following(user) %}
        <a href="{{url_for('follow', nickname = user.nickname)}}">{{ _('Follow') }}</a>
    {% else %}
        <a href="{{url_for('unfollow', nickname = user.nickname)}}">{{ _('Unfollow') }}</a>
    {% endif %}
    {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
</div>
<div class="col-md-1 backborder" style="height: 180px;">    
    {% if user.last_seen %}
    <p><em>{{ _('Last seen:') }} {{ momentjs(user.last_seen).calendar() }}</em></p>
    {% endif %}
    <p><strong>{{ _('Followers:') }}</strong> {{user.followers.count() - 1}} <strong>|</strong>
    {% for u in user.followers %}
    {{u.nickname}}
    {% endfor %}
    <strong>{{ _('Following:') }}</strong> {{user.followed.count() - 1}} <strong>|</strong>
    {% for u in user.followed %}
    {{u.nickname}}
    {% endfor %}
    </p>
</div>
<div class="col-md-3 backborder">
{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
</div>
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('user', nickname = user.nickname, page = posts.prev_num) }}">{{ _('Newer posts') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Newer posts') }}</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('user', nickname = user.nickname, page = posts.next_num) }}">{{ _('Older posts') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Older posts') }}</a></li>
    {% endif %}
</ul>
{% endblock %}
